@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@100;400;700&family=Yuji+Mai&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

body{
    background-color: #111;
}

.container{
    background-color: #EEE;
    text-align: center;
    width: 30%;
}

.container h1{
    padding: 10px;
    font-size: 16px;
    color: #AAA;
}

.container p{
    color: #AAA;
    margin: 10px;
}

.form-group{
    background-color: green;
}
